.card-criminal {
    border: dotted;
    padding: 2em;
    justify-content: space-around;
}

.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 3;
    margin: 2em;
}